@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, div, li{
    font-family: 'Open Sans', sans-serif !important;
    color: #fff;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

/* Hero Section */
.hero-section{
    background-image: url('public/herobg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}